@mixin bg-square {
  background: {
    color: #fff;
    image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
      linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    size: 40rpx 40rpx;
    position: 0 0, 20rpx 20rpx;
  }
}


@mixin flex-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
